<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" routerLink="/">Todo App</a>
    </div>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="/tasks">Tasks</a>
        <a class="nav-item nav-link ml-auto mr-2" routerLink="/">{{currentUser.username}}</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main content container -->
<div class="jumbotron mt-5 mr-5 ml-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>